{{!-- Presences --}}
<div class="body__inner">
    <main>
        <div class="main__inner presences">
            {{> titleSection title='Aanwezigheden opnemen' returnUrl='/'}}

            {{#if pageError}}
                {{> pageError pageError=pageError}}
            {{/if}}

            {{> filters filters=userFilters }}
            <script src="/scripts/hideFilterSearch.js"></script>

            {{#isnt (length addAttendanceTable.rows) 0}}
            <form action="/attendances" method="POST">

                <div class="date">
                    <p>Selecteer een datum</p>
                    <input type="date" name="date" required>
                </div>
            
                <button class="button">Opslaan</button>
                <input type="hidden" name="method" value="POST-MULTI">
                <input type="hidden" name="totalStudents" value="{{totalStudents}}">
                <input type="hidden" name="courseId" value="{{courseId}}">
                <div class="table-container">
                    <table class="users">
                        <thead>
                            <tr>
                                {{#each addAttendanceTable.headers}}
                                <th>{{this}}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each addAttendanceTable.rows}}
                            <tr>
                                {{#each cols}}
                                <td>{{this}}</td>
                                {{/each}}
                                <td class="actions">
                                    {{> dropdown options=../attendanceOptions  }}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </form>
            {{else}}
                {{#if addAttendanceTable.hasSearched}}
                <p>Er zijn geen studenten gevonden.</p>
                {{/if}}
            {{/isnt}}
            
        </div>
    </main>
    <script src="/scripts/loadEducationPrograms.js"></script>
    <script src="/scripts/loadCourses.js"></script>
    <script src="/scripts/hideFilterSearch.js"></script>
</div>