{{!-- Comment --}}
<div class="comments">
    {{#each comments}}
    <div class="comment">
        <a href="/student-dashboard/{{ student_id }}/{{ tag }}-reports/{{ id }}?type={{ tag }}">
            <h3>{{title}}</h3>
            <p>{{text}}</p>
        </a>
    </div>
    {{/each}}
</div>