{{!-- Comment --}}
<div class="comments">
    {{#each comments}}
    {{#if canView}}
    <div class="comment">
        <a href="{{ viewLink }}">
            <h3>{{title}}</h3>
            <div class="comment__info">
                <h5>{{author}}</h5>
                <h5>{{course}}</h5>
                <h5>{{dateOfPublication}}</h5>
            </div>

            <p>{{text}}</p>
        </a>
    </div>
    {{/if}}
    {{/each}}
</div>