{{!-- Dropdown partials --}}
<div class="dropdown filter">
    <label class="dropdown__label" for="{{id}}">{{labelText}}</label>
    <select {{#if disabled}}disabled{{/if}} class="dropdown__options" name="{{name}}" id="{{id}}" {{#each data}}data-{{title}}="{{value}}" {{/each}}>
        {{#each options}}
            <option {{#if selected}}selected{{/if}} value="{{value}}" {{#each data}}data-{{title}}="{{value}}" {{/each}}>{{label}}</option>
        {{/each}}
    </select>
</div>