{{!-- Dropdown partials --}}
<div class="dropdown filter {{class}}">
    {{#if labelText}}
    <label class="dropdown__label {{labelClass}}" for="{{id}}">{{labelText}}</label>
    {{/if}}
    <select {{#if disabled}}disabled{{/if}} form="{{form}}" class="dropdown__options {{inputClass}}" name="{{name}}" id="{{id}}" {{#each data}}data-{{title}}="{{value}}" {{/each}}>
        {{#each options}}
            <option {{#if selected}}selected{{/if}} value="{{value}}" {{#each data}}data-{{title}}="{{value}}" {{/each}}>{{label}}</option>
        {{/each}}
    </select>
</div>