{{!-- Input field --}}
{{# if viewOnly}}
<div class="input-field input-field--view">
    <input id="{{id}}" name="{{name}}" type="{{ type }}" class="input-field__input" placeholder="{{ placeholder }}" readonly value="{{ value }}">
</div>
{{else}}
<div class="input-field">
    <input id="{{id}}" name="{{name}}" type="{{ type }}" class="input-field__input" placeholder="{{ placeholder }}" value="{{ value }}">
</div>
{{/if}}