{{!-- Textarea Section --}}
<section class="lightgrey-bg">
    <div class="form-group">
        <label for="{{id}}"><h3>{{label}}</h3></label>
        <textarea class="form-control" id="{{id}}" name="{{name}}" placeholder="{{placeholder}}">{{value}}</textarea>
        {{> button label="Opslaan"}}
    </div>
</section>