{{!-- User Section --}}
<div class="add-programme">
    <form action="{{formOptions.action}}" method="POST" class="add-programme" id="add-user">
        <input type="hidden" name="method" value="{{formOptions.method}}">

        {{#if pageError}}
        {{> pageError pageError=pageError}}
        {{/if}}

        {{#isnt viewOnly true}}
        <div class="actions">
            {{> button label="Annuleren" class="button--dark" link=cancelUrl}}
            <button type="submit" class="button">Opslaan</button>
        </div>
        {{/isnt}}

        <section class="lightgrey-bg">
            <div class="user-info">
                <div class="user-info__left">
                    <div class="user-info-container">
                        <h3>Persoonlijke informatie</h3>
                        {{#if formData.personal.firstname}}
                        <div class="user-info__item">
                            <p class="semibold">Voornaam</p>
                            {{> inputField placeholder="Voornaam" value=formData.personal.firstname.value
                            name=formData.personal.firstname.name }}
                        </div>
                        {{/if}}
                        {{#if formData.personal.lastname}}
                        <div class="user-info__item">
                            <p class="semibold">Achternaam</p>
                            {{> inputField placeholder="Achternaam" value=formData.personal.lastname.value
                            name=formData.personal.lastname.name }}
                        </div>
                        {{/if}}
                        {{#if formData.personal.email}}
                        <div class="user-info__item">
                            <p class="semibold">E-mailadres</p>
                            {{> inputField placeholder="E-mailadres" value=formData.personal.email.value
                            name=formData.personal.email.name }}
                        </div>
                        {{/if}}
                        <div class="user-info__item">
                            <p class="semibold">Rol</p>
                            <p class="input-field__input">Student</p>
                            <input type="hidden" name="personal-role" value="1">
                        </div>
                    </div>
                    <div class="user-info-container">
                        <h3>Labels</h3>
                        {{#if formData.labels}}
                        {{#isnt viewOnly true}}
                        <p><em>U kunt Control-klikken (Windows) of Command-klikken (Mac) om er meer dan één te
                                selecteren.</em>
                        </p>
                        {{/isnt}}
                        <div class="user-info__item">
                            <div class="input-field input-field--label input-field--view">
                                {{> dropdown form="add-user" disabled=viewOnly multiple=true options=formData.labels.dropdown.labels name=formData.labels.label.name}}
                            </div>
                        </div>
                        {{else}}
                        <div class="user-info__item">
                            <p>Geen labels</p>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="user-info__right">
                    <div class="user-info-container">
                        <h3>Links</h3>
                        {{#if formData.contact.website}}
                        <div class="user-info__item">
                            <p class="semibold">Website</p>
                            {{> inputField type="url" placeholder="Website" value=formData.contact.website.value
                            name=formData.contact.website.name
                            }}
                        </div>
                        {{/if}}
                        {{#if formData.contact.linkedin}}
                        <div class="user-info__item">
                            <p class="semibold">
                                LinkedIn
                            </p>
                            {{> inputField type="url" placeholder="LinkedIn" value=formData.contact.linkedin.value
                            name=formData.contact.linkedin.name }}
                        </div>
                        {{/if}}
                        {{#isnt formData.contact.facebook undefiend}}
                        <div class="user-info__item">
                            <p class="semibold">
                                Facebook
                            </p>
                            {{> inputField type="url" placeholder="Facebook" value=formData.contact.facebook.value
                            name=formData.contact.facebook.name }}
                        </div>
                        {{/isnt}}
                    </div>
                </div>
            </div>
            {{#includes user.employee.functions '["admin", "teamleader"]'}}
            <div class="user-info__button">
                <button class="button">Wijzigen</button>
            </div>
            {{/includes}}
        </section>

        <section class="lightgrey-bg">
            <div>
                <h3>Opleidingen</h3>
                {{#isnt viewOnly true}}
                    <div class="filters">
                        {{> filters filters=formData.education_programme.education_programme_filters noReset=true noSearch=true
                        }}
                        <button disabled="disabled" class="button" id="add-education-programme"
                            form="selectEducationProgramme">Toevoegen</button>
                        <script src="/scripts/loadEducationPrograms.js"></script>
                        <script src="/scripts/addEducationProgramme.js"></script>
                    </div>

                    {{#isnt (length formData.education_programme.education_programmes) 0}}
                        <hr class="add-programme__line">
                    {{/isnt}}
                {{/isnt}}

                <div id="education_programmes">

                    {{#each formData.education_programme.education_programmes}}

                    <div id="education-programme-container">

                        <div class="user-info__item">
                            <p class="input-field__input">{{title.value}}</p>
                            <input type="hidden" name="{{education_programme_id.name}}" value="{{education_programme_id.value}}">
                        </div>

                        <div class="user-info__item">
                            <p class="semibold">Vakken</p>
                            <div class="checkbox-list">
                                {{#each courses}}
                                <div>
                                    <input {{#if viewOnly}}disabled="true"{{/if}} type="checkbox" id="{{id}}" name="{{name}}" value="{{value}}" {{#if selected}}checked="true"{{/if}}>
                                    <label for="{{id}}">{{label}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                    </div>

                    {{#if notLastInArray}}
                    <hr class="add-programme__line">
                    {{/if}}

                    {{/each}}

                </div>

            </div>
        </section>

        
    </form>

    {{#isnt viewOnly true}}
        <div class="actions">
            {{> button label="Annuleren" class="button--dark" link=cancelUrl}}
            <button form="add-user" type="submit" class="button">Opslaan</button>
        </div>
    {{/isnt}}

</div>